body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 40px;
    margin-left: 0%;
}

h1 {
    color: #172431;
}

h2 {
    color: #302f2f;
}

h3 {
    margin-top: 20px;
    color:#2a2c35
}

h4 {
    margin-top: 40px;
    color: #2a2c35
}

p {
    max-width: 600px;
}

ul {
    list-style-type:square;
}

ul{
    padding-left: 20px;
}

ul{
    margin-bottom: 6px;
}